@page
@model Magazine19966292.Pages.Customers.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@* Generating the web form containing a search box. *@
<form class="form-inline" method="get">
    <div class="form-group">
        <label for="SearchString" class="control-label">Title: &nbsp; &nbsp; </label>
        @* The name "SearchString" must match the property name in IndexModel class. *@
        <input type="text" name="SearchString" class="form-control" />
    </div>
    <div>
        &nbsp; &nbsp;  @* Introducing two spaces *@
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Postal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FamilyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GivenName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Birth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postal)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
